@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff7eb;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: "Baloo 2", sans-serif;
  color: #822e2e;
}

h1 {
  font-size: 48px;
}

p {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

a.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  color: #822e2e;
  text-decoration: none;
  border-radius: 10px;
}

a.nav-link svg {
  fill: currentColor;
  max-height: 16px;
  width: auto;
}

a.nav-link:hover {
  background-color: #822e2e;
  color: #fcead0;
  cursor: pointer;
}

a.nav-link-logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 2px 8px;
  background-color: #822e2e;
  color: #fcead0;
  text-decoration: none;
  border-radius: 10px;
}

a.nav-link-logout svg {
  fill: currentColor;
  max-height: 16px;
  width: auto;
}

a.nav-link-logout:hover {
  background-color: #980909;
  color: #fcead0;
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

img.logo {
  aspect-ratio: 1;
  height: 35px;
}

p.logo-bold {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #ac5841;
  font-size: 20px;
}

p.logo-cursive {
  font-family: "Cedarville Cursive", serif;
  color: #822e2e;
  font-size: 20px;
}

p.caveat {
  font-family: "Caveat", sans-serif;
  color: #ac5841;
  font-size: 50px;
  font-weight: bold;
}

.caveat-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100px;
  bottom: 80px;
}

/* BUTTON STYLES */
button {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  padding: 6px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button.outline {
  border: 1px solid #822e2e;
  color: #822e2e;
  background-color: #fff;
}

button.filled {
  border: 1px solid #822e2e;
  color: #fff;
  background-color: #822e2e;
}

button.filled.full {
  width: 100%;
}

button:hover {
  cursor: pointer;
  background-color: #5d2121;
  color: #fff;
}

/* NAVIGATION BUTTONS */
a.btn {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 500px;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 4px;
}

/* BODY */
.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

/* Header */
.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.title {
  color: #822e2e;
  font-family: "Baloo 2", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700; /* Bolded for impact */
  line-height: normal;
}

.icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  color: #822e2e;
}

.food-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.food-items {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  column-gap: 8px;
}

.food-items label {
  max-width: 220px;
  display: inline-block;
  color: #000;
}

/* FORM CONTAINER */
.form-container {
  background-color: #ffe7cb;
  border: 3px solid #572908;
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

/* HEADINGS */
h2 {
  font-family: "Baloo 2", sans-serif;
  color: #822e2e;
  text-align: center;
}

/* INPUT LABELS */
form label {
  color: #ac5841;
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
}

/* INPUT FIELDS */
form input[type="text"],
form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #5d2121;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

form input:focus {
  border-color: #822e2e;
  outline: none;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #5d2121;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

input[type="checkbox"] {
  accent-color: #822e2e;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

select {
  padding: 10px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: 1px solid #5d2121;
  background-color: #fff;
  color: #5d2121;
  border-radius: 8px;
}

/* ERROR MESSAGE */
p.error-message {
  color: #d9534f;
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
}

/* SUBMIT BUTTON */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #822e2e;
  border: 1px solid #822e2e;
  color: white;
  font-family: "Baloo 2", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #5d2121;
  cursor: pointer;
}

/* BACK LINK */
.back-link {
  display: block;
  margin-top: 20px;
  text-align: center;
}

a {
  color: #822e2e;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #5d2121;
  text-decoration: underline;
}
